.App {
  padding: 50px;
  text-align: center;
}

.container {
  text-align: left;
  font-size: 14px;
  max-width: 450px;
  margin: 0 auto;
}

.title {
  margin: 0 0 70px 0;
  padding: 0 25px;
}

.word {
  padding: 30px 25px 15px;
  background-color: #fff;
}

.nameInput,
.descInput {
  margin-top: 40px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #777;
  outline: none;
  min-height: 50px;
  display: block;
}

.nameInput {
  width: 100%;
  padding: 0 10px;
}

.descInput {
  width: 89%;
  margin: 10px auto 30px;
  padding: 10px;
}

.name,
.desc {
  font-size: 16px;
}

.name {
  margin-top: 80px;
  font-weight: bold;
}

.desc {
  margin-top: 30px;
  font-family: '\4EFF\5B8B', '仿宋', '\4EFF\5B8B_GB2312', '仿宋_GB2312', '\534E\6587\4EFF\5B8B', '华文仿宋', 'FangSong', 'FangSong_GB2312', 'STFangsong', 'CWTEX-F', 'Noto Serif SC', serif;
  display: block;
}

.pinyin {
  margin-top: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  position: relative;
  width: 89%;
  background-color: #2f54eb;
  box-shadow: 0 0.04267rem 0 rgba(0, 0, 0, .045);
  border: 0;
  margin: 120px 5.5% 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  line-height: 2.5;
  font-size: 20px;
  padding: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
}

.download-btn {
  margin-top: 50px;
}

.author {
  margin-top: 50px;
  text-align: center;
}

.author a {
  margin-left: 5px;
}